<div class="button-container">
  <button class="btn"><a href="/">回到首頁</a></button>
  <button class="btn"><a href="/about">About</a></button>
  <button class="btn target"><a href="/portfolio">Portfolio</a></button>
  <button class="btn"><a href="/contact">Contact</a></button>
</div>

<div>
  <h1>Portfolio</h1>
</div>